/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 5; }
    .div2 { grid-area: 2 / 1 / 4 / 9; }
    .div3 { grid-area: 2 / 1 / 4 / 3; }
    .div4 { grid-area: 2 / 3 / 4 / 4; }
    .div5 { grid-area: 2 / 4 / 4 / 5; }
    .div6 { grid-area: 2 / 5 / 4 / 6; }
    .div7 { grid-area: 2 / 6 / 4 / 7; }
    .div8 { grid-area: 2 / 7 / 4 / 8; }